html, body {
  font-family: 'Roboto', sans-serif;
}

.mantine-Accordion-item {
    border: 1px solid rgb(222, 226, 230);
    border-radius: 4px;
    margin-bottom: 8px;
}

.mantine-Accordion-itemOpened {
    border: 1px solid rgb(222, 226, 230);
    border-radius: 4px;
}

.mantine-Accordion-itemOpened .mantine-Accordion-itemTitle {
    background-color: #f8f9fa;
}

.mantine-Accordion-control:hover {
    border-radius: 4px;
    background-color: #f8f9fa;
}

.group-layover {
    background-color: #f8f9fa;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-top: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
    margin-bottom: 20px;
    margin-top: 20px;
}